/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */
header {
    display: flex;
    justify-content: center;
}

.collage {
    display: grid;
    justify-content: center;
    grid-template-areas: "photo photo photo photo"
    ;
}

img {
    padding: 10px;
}
/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */